@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --sidebar-width: 20rem
}

.bounce-enter-active {
    height: auto;
    transition: 3s ease-in-out;
}

.bounce-leave-active {
    height: 0;
    transition: 3s ease-in-out;
}

@media screen and (min-width:1024px) {
    .fi-main-ctn {
        /* background-color: red !important; */
        width: calc(100vw - 20rem) !important;
    }
}